@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menedżer zadań</h1>
    <p>To idealna aplikacji dla profesjonalistów, którzy chcą uporządkować swoje zadania i zwiększyć 
        efektywność pracy. Przejrzysty interfejs i intuicyjna obsługa sprawiają, że zarządzanie zadaniami staje 
        się proste i przyjemne.</p>
</div>
